<% @status_to_tickets.each do |status, tickets| %>
  <div id="<%= status.css_id %>">
    <h1><%= status.display_name %></h1>
    <% tickets.each do |ticket| %>
      <%= ticket.title %>
      <% if status.has_prev? %>
        <%= link_to "Move to #{status.prev_status}", tickets_path(ticket, status: status.prev_status), method: :put %>
      <% end %>

      <% if status.has_next? %>
        <%= link_to "Move to #{status.next_status}", tickets_path(ticket, status: status.next_status), method: :put %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="new-ticket">
  <form action="/tickets" method="post" accept-charset="utf-8">
    <input type="text" placeholder="New Title" name="Title" id="Title"/>* required
    <br>
    <input type="text" placeholder="Optional Description" name="description" id="description"/>
    <br>
    Status:
    <select name="status">
      <option value="Backlog" selected="selected">Backlog</option>
      <option value="Current Sprint">Current Sprint</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>

    <p><input type="submit" value="Submit"></p>
  </form>
</div>
